body.post-type-archive-biblioteka {
  #content {
    main {
      padding-bottom: 40px;

      #library-list {
        margin: 47px auto 40px auto;

        #no-results {
          font-size: 34px;
          line-height: 42px;
          font-weight: bold;
          padding: 0 40px;

          @media (max-width: 1150px) {
            padding: 20px;
          }
          @media (max-width: 640px) {
            padding: 10px;
          }
        }
        ul {
          list-style-type: none;
          margin: 0;
          height: auto;
          padding: 0 40px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;

          @media (max-width: 1150px) {
            padding: 20px;
          }
          @media (max-width: 640px) {
            padding: 10px;
          }

          li {
            z-index: 0;
            overflow: hidden;
            height: auto;
            margin: 20px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            width: calc(50% - 50px);
            box-sizing: border-box;

            @media (max-width: 580px) {
              width: 100%;
            }

            &:hover {
              a .info:after {
                transform: translateX(10px);
              }
            }

            a {
              padding: 15px 5px 15px 0;
              display: flex;
              justify-content: space-between;
              align-items: stretch;
              font-style: normal;
              font-weight: bold;
              text-decoration: none;
              color: black;
              position: relative;
              height: 100%;
              box-sizing: border-box;

              &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 15px;
                right: 15px;
                width: 28px;
                height: 28px;
                background-image: url($rootDir + 'assets/global/plus-sign.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                transform: rotate(0);
                transition: 0.2s transform ease-in-out;
              }
              &:hover::after {
                transform: rotate(90deg);
              }

              .image {
                width: 130px;
                height: 130px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                img {
                  width: 100%;
                  height: auto;
                  opacity: 0;
                }
              }

              .info {
                height: auto;
                padding: 0 0 0 35px;
                box-sizing: border-box;
                flex: 1;

                h2 {
                  margin: 0;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                  text-transform: uppercase;
                }
                .author {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}
