body.post-type-archive-program {
  #masthead {
    #page-title {
      display: block;
      padding: 80px;

      @media (max-width: 930px) {
        padding: 20px 50px;
      }

      @media (max-width: 930px) {
        padding: 20px 50px 20px 20px;
      }

      h1 {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 132px;
        line-height: 132px;
        text-transform: uppercase;
        margin-bottom: 25px;

        @media (max-width: 1160px) {
          font-size: 110px;
          line-height: 110px;
        }
        @media (max-width: 930px) {
          font-size: 90px;
          line-height: 90px;
        }
        @media (max-width: 500px) {
          font-size: 50px;
          line-height: 50px;
        }
      }
      #neps {
        padding-left: 15px;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;

          li {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 40px;

            @media (max-width: 600px) {
              font-size: 26px;
              line-height: 30px;
            }
            @media (max-width: 500px) {
              font-size: 20px;
              line-height: 22px;
            }

            &.active {
              text-decoration: underline;
            }

            &:after {
              content: "/";
              display: inline-block;
              margin: 0 10px;
            }
            &:nth-last-child(1):after {
              display: none;
            }

            a {
              color: black;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  #content {
    main {
      padding-bottom: 40px;

      #search {
        display: block;
        margin: 40px 0;

        .wrapper {
          width: 290px;
          margin: 0 30px 0 auto;
          padding-bottom: 10px;
          border-bottom: 2px solid black;
          max-width: 100%;

          form {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            label {
              display: none;
            }
            input[type="text"] {
              background: transparent;
              border: none;
              flex: 1;
              font-size: 22px;
              line-height: 22px;
            }
            button {
              background: transparent;
              border: none;
              width: 50px;
              min-width: 50px;
              height: 50px;
              margin-left: 5px;
              background-image: url($rootDir + "/assets/global/search.svg");
              background-position: center center;
              background-size: contain;
              background-repeat: no-repeat;
              color: transparent;
              overflow: hidden;
            }
          }
        }
      }
      #programs-list {
        margin: 80px auto 40px auto;

        #no-results {
          font-size: 34px;
          line-height: 42px;
          font-weight: bold;
          padding: 0 40px;

          @media (max-width: 1150px) {
            padding: 20px;
          }
          @media (max-width: 640px) {
            padding: 10px;
          }
        }
        ul {
          list-style-type: none;
          margin: 0;
          height: auto;
          padding: 0 40px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;

          @media (max-width: 1150px) {
            padding: 20px;
          }
          @media (max-width: 640px) {
            padding: 10px;
          }

          li {
            z-index: 0;
            overflow: hidden;
            height: auto;
            margin: 10px;
            width: calc(33% - 20px);
            border: 2px solid black;
            box-sizing: border-box;

            @media (max-width: 640px) {
              width: calc(50% - 5px);
              margin-bottom: 10px;
            }
            @media (max-width: 580px) {
              width: 100%;
            }

            &:hover {
              a .info:after {
                transform: translateX(10px);
              }
            }

            a {
              padding: 20px;
              display: block;
              font-style: normal;
              font-weight: bold;
              text-decoration: none;
              color: black;
              position: relative;

              &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 15px;
                right: 15px;
                width: 28px;
                height: 28px;
                background-image: url($rootDir + 'assets/global/plus-sign.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                transform: rotate(0);
                transition: 0.2s transform ease-in-out;
              }
              &:hover::after {
                transform: rotate(90deg);
              }

              .image {
                width: 170px;
                height: 170px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                img {
                  width: 100%;
                  height: auto;
                  opacity: 0;
                }
              }

              .info {
                height: auto;
                padding: 15px 35px 15px 0;
                box-sizing: border-box;

                h2 {
                  margin: 0;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
      .navigation.pagination {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 40px;

        h2 {
          display: none;
        }
        .nav-links {
          .page-numbers {
            display: inline-block;
            background: #7f7a8f;
            padding: 10px 15px;
            color: black;
            text-decoration: none;
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            margin: 4px 0;

            &:hover {
              text-decoration: underline;
            }

            &.prev {
              &:before {
                content: "";
                display: inline-block;
                width: 30px;
                height: 20px;
                background-image: url(/wp-content/themes/Nep/assets/global/arrow-right.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                transform: translateX(0) rotate(180deg);
                transition: 0.2s transform ease-in-out;
                vertical-align: middle;
              }

              &:hover:before {
                transform: translateX(-10px) rotate(180deg);
              }
            }
            &.next {
              &:after {
                content: "";
                display: inline-block;
                width: 30px;
                height: 20px;
                background-image: url(/wp-content/themes/Nep/assets/global/arrow-right.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                transform: translateX(0);
                transition: 0.2s transform ease-in-out;
                vertical-align: middle;
              }
              &:hover:after {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}
