body.single-program {
  #masthead {
    #page-title {
      display: block;
      padding: 80px;

      @media (max-width: 930px) {
        padding: 20px 50px;
      }

      @media (max-width: 930px) {
        padding: 20px 50px 20px 20px;
      }

      p {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 132px;
        line-height: 132px;
        text-transform: uppercase;
        margin: 0 auto 25px auto;

        @media (max-width: 1160px) {
          font-size: 110px;
          line-height: 110px;
        }
        @media (max-width: 930px) {
          font-size: 90px;
          line-height: 90px;
        }
        @media (max-width: 500px) {
          font-size: 50px;
          line-height: 50px;
        }
      }
      #categories {
        padding-left: 15px;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;

          li {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 42px;
            text-transform: uppercase;

            @media (max-width: 600px) {
              font-size: 20px;
              line-height: 26px;
            }
            @media (max-width: 500px) {
              font-size: 18px;
              line-height: 22px;
            }

            &.active {
              text-decoration: underline;
            }

            &:after {
              content: "/";
              display: inline-block;
              margin: 0 10px;
            }
            &:nth-last-child(1):after {
              display: none;
            }

            a {
              color: black;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  #content {
    main {
      padding-bottom: 40px;

      .post-title {
        margin: 0;
        height: auto;
        position: relative;
        border-bottom: 2px solid black;

        ul#category-list {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: stretch;
          justify-content: flex-end;
          flex-wrap: wrap;

          li {
            display: block;
            width: auto;

            &:nth-last-child(1) {
              .category {
                padding-right: 0;
              }
            }

            .category {
              display: block;
              background-color: #438b76;
              position: relative;
              width: auto;
              height: 45px;
              text-transform: uppercase;
              padding-right: 30px;
              color: black;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }

              @media (max-width: 1340px) {
                height: 35px;
              }

              span {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                right: 100%;
                top: 0;
                border-right: 35px solid #438b76;
                border-bottom: 45px solid transparent;

                @media (max-width: 1340px) {
                  border-right: 25px solid #438b76;
                  border-bottom: 35px solid transparent;
                }
              }

              p {
                font-size: 14px;
                width: 100%;
                text-align: left;
                line-height: 45px;
                padding: 0 10px;
                box-sizing: border-box;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                width: auto;
                min-width: 70px;
                position: static;

                @media (max-width: 1340px) {
                  font-size: 12px;
                  line-height: 35px;
                }
              }
            }
          }
        }
        ul.programType {
          display: block;
          list-style-type: none;
          padding: 0 60px 0 90px;
          margin: 30px 0 20px 0;

          li {
            display: block;
            margin: 0 auto 7px auto;

            a {
              color: black;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 18px;
              line-height: 20px;
            }
          }
        }
        h1 {
          padding: 0 60px 0 90px;
          margin: 30px 0 20px 0;

          @media (max-width: 930px) {
            padding: 0 50px 0 20px;
            margin: 20px 0 20px 0;
          }
        }
      }
      #itinerary {
        display: block;
        padding: 30px 0;

        .wrapper {
          max-width: 740px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          @media (max-width: 1050px) {
            flex-wrap: wrap;
            justify-content: space-evenly;
          }

          & > div {
            position: relative;
            display: block;
            padding: 5px 5px 5px 50px;
            min-height: 52px;
            box-sizing: border-box;
            margin: 0 15px;

            @media (max-width: 1050px) {
              width: calc(50% - 80px);
            }

            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 12px;
              left: 0;
              background-position: center center;
              background-size: contain;
              background-repeat: no-repeat;
            }


            &.date {
              &:before {
                background-image: url($rootDir + "/assets/global/calendar-icon.svg");
              }
            }
            &.time {
              &:before {
                background-image: url($rootDir + "/assets/global/clock-icon.svg");
              }
            }
            &.location {
              &:before {
                background-image: url($rootDir + "/assets/global/geopin-icon.svg");
              }
            }
            &.moderator {
              &:before {
                background-image: url($rootDir + "/assets/global/moderator-icon.svg");
              }

              ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
              }
            }
            p, a {
              display: block;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 18px;
              color: #908F8C;
              margin: 0;
              padding: 0;
              padding-top: 10px;

            }
          }
        }
      }
      #post-content {
        border-bottom: 2px solid black;
      }
      #moderators {
        h2 {
          display: block;
          width: 100%;
          margin: 30px auto;
          max-width: 740px;
          text-transform: uppercase;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 22px;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 46px auto;

          li.moderator {
            padding: 10px 20px;
            max-width: 780px;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            @media (max-width: 1120px) {
              flex-wrap: wrap;
            }
            @media (max-width: 930px) {
              padding: 10px 50px;
            }
            @media (max-width: 930px) {
              padding: 10px 50px 10px 20px;
            }

            .portrait {
              width: 160px;
              padding-top: 10px;

              @media (max-width: 1120px) {
                width: 100%
              }

              img {
                max-width: 120px;
                width: 100%;
                margin: 0;
                height: auto;
                display: block;

                @media (max-width: 1120px) {
                  max-width: 230px;
                  margin: 0 auto;
                }
              }
              h3 a {
                display: block;
                color: black;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                padding: 0;
                margin: 0;

                @media (max-width: 1120px) {
                  text-align: center;
                }
              }
              .job-title {
                display: block;
                font-style: normal;
                font-weight: normal;
                padding-left: 0;
                margin-top: 5px;
                font-size: 16px;
                line-height: 22px;

                @media (max-width: 1120px) {
                  text-align: center;
                }
              }
            }
            .post-content {
              flex: 1;
              width: 100%;
              margin-left: calc(46px - 20px); // To compensate for block's inner padding. Should be 46 in total.

              & > p {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
              }

              .links {
                display: block;
                position: relative;
                list-style-type: none;
                margin: 46px 0 0 0;
                padding-left: 80px;

                &:before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 25px;
                  width: 34px;
                  height: 34px;
                  background-image: url($rootDir + 'assets/global/arrow-right.svg');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                li {
                  margin: 10px 0;

                  a {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: underline;
                    color: black;
                    text-transform: lowercase;
                    transition: 0.2s color ease-in-out;

                    &:hover {
                      color: #464646;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
