& > p {
  max-width: 730px;
  margin: 46px auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 28px;

  &.has-medium-font-size {
    font-size: 22px;
  }
  &.has-large-font-size {
    font-size: 36px;
  }
  &.has-huge-font-size {
    font-size: 42px;
  }
  &.has-drop-cap:first-letter {
    font-size: 5.5em;
  }
  &.has-background {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 1200px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  a {
    color: black;
  }
}
.wp-block-columns {
  max-width: 730px;
  margin: 46px auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 28px;

  a {
    color: black;
  }
}
