.wp-block-quote, .wp-block-pullquote {
  margin: 46px auto;
  max-width: 730px;

  &.is-style-large {
    max-width: 730px;

    p {
      font-size: 26px;
      line-height: 32px;
    }
  }

  p {
    padding: 25px;
    margin: 0 auto;
    font-family: "Cardo", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    a {
      font-style: italic;
      color: black;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  cite {
    font-family: "Cardo", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    padding: 10px 10px;
    width: 100%;
    display: block;
  }
}
