#footer {
  .empty-space {
    height: 125px;
    background: #F34626;
  }
  .wrapper {
    background: #1B1A19;
    color: #FCFAF5;

    .contact {
      display: flex;
      height: 350px;
      justify-content: space-between;
      align-items: center;

      @include global-wrapper;

      @media (max-width: 640px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
      }

      .logo {
        padding-left: 10px;
        width: 310px;

        @media (max-width: 640px) {
          width: auto;
          margin: 40px auto 20px auto;
        }

        img {
          height: auto;
          width: 165px;
        }
      }
      .details {
        flex: 1;

        @media (max-width: 640px) {
          text-align: center;
        }

        h2 {
          text-transform: uppercase;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 38px;
        }
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 38px;
          display: block;
          color: #FCFAF5;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    @include global-wrapper;

    @media (max-width: 990px) {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-bottom: 100px;
    }

    .copyright {
      width: 350px;
      padding-left: 30px;
      box-sizing: border-box;

      @media (max-width: 990px) {
        width: auto;
        padding: 0;
        margin: 100px auto 20px auto;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 70px;

        @media (max-width: 990px) {
          text-align: center;
          line-height: 20px;
          font-size: 16px;
          margin: 0;
        }
      }
    }
    ul.logos {
      flex: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;

      @media (max-width: 640px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      li {
        margin: 0 22px;

        @media (max-width: 640px) {
          margin: 20px auto;
        }

        a {
          display: block;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            display: block;
            transition: 0.2s transform ease-in-out;
          }
        }
      }
    }
  }
}
