#header {
  @include global-wrapper;

  #header-menu {
    position: relative;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    @include line-left;
    @include line-right;

    ul {
      height: auto;
      min-height: 135px;
      padding: 5px 20px;
      box-sizing: border-box;
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;

      @media (max-width: 1360px) {
        flex-wrap: wrap;
      }

      li {
        display: block;

        a {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 38px;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          padding: 5px 10px;

          @media (max-width: 1360px) {
            font-size: 20px;
          }
          @media (max-width: 1160px) {
            font-size: 23px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
#masthead {
  @include global-wrapper;

  & > .wrapper {
    position: relative;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: stretch;

    @include line-left;
    @include line-right;

    #logo {
      display: block;
      border-right: 2px solid black;
      width: 29%;
      min-height: 350px;

      a {
        display: block;
        text-align: center;
        height: 100%;
        width: 100%;
        position: relative;

        img {
          width: 100%;
          height: auto;
          padding: 0 35px;
          vertical-align: middle;
          box-sizing: border-box;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }

    #page-title {
      width: auto;
      flex: 1;
      padding: 20px 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 930px) {
        padding: 20px 50px;
      }

      &:after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background-image: url($rootDir + "assets/global/plus-sign.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        bottom: 30px;
        right: 30px;

        @media (max-width: 930px) {
          width: 30px;
          height: 30px;
          bottom: 25px;
          right: 25px;
        }
      }

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin: 0;
        display: block;

        @media (max-width: 1160px) {
          font-size: 40px;
          line-height: 60px;
        }
        @media (max-width: 930px) {
          font-size: 30px;
          line-height: 50px;
        }
        @media (max-width: 700px) {
          font-size: 26px;
          line-height: 40px;
        }
      }
    }
  }
}
